parameters:
  level: 10
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    -
      message: '#Method .+ throws checked exception#'
      path: tests
